.Footer_container{
    margin-top:10%;
    margin:0;
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:5%;

    display:flex;
    align-items:flex-start;
    background: linear-gradient(to right, 
    #FAF8F6 0%, 
    #FAF8F6 30%,  
    #E8C6C6 50%,  
    #df59597c 99%   
);
}
.Footer_logo_socials{
    color:#eebac5;
    display:flex;
    flex-direction:column;
    margin-right:8%;
}
.Footer_logo_socials img{
    margin-top:20px;
}
.Footer_logo_socials a{
    text-decoration:none;
    color:#eebac5;
}

.lumiere_magnified{
    font-size:50px;
}
.Footer_links_nav{
    padding:10px;
    width:max-content;

}
.Footer_links_nav a{
 text-decoration: none;
 color:#9B738F;
 font-weight:bold;
 font-size:20px;

}
.Footer_links_nav ul{
    width:100%;
}
.Footer_links_nav ul li{
    background-image: url('../assets/star.png'); 
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    line-height: 3cap;
    list-style: none;

}
.Footer_info{
    display:flex;
    flex-direction:column; 
    margin-left:8%; 
}
.bullet_new{
    color:#9B738F;
    margin-top:2%;
    display:flex;
    align-items:flex-start;
    gap:20px;
    

}
.Footer_button_cta{
    margin-left:30px;
}
.cta_services{
    padding:10px 10px 12px 12px;
    width:fit-content;
    border:3px solid #9B738F;
    background-color: transparent;
    color:#9B738F;
    border-radius:12px;
    font-size:20px;
}
@media (max-width:800px){
    .Footer_container{
        flex-wrap:wrap;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        
        background: linear-gradient(to bottom, 
        #FAF8F6 0%, 
        #FAF8F6 30%,  
        #E8C6C6 50%,  
        #df59597c 99%   
    );
    gap:30px;
        
    }

}
